[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
icecream = "*"
scikit-learn = "*"
pandas = "*"
tensorflow = "2.14"
keras = "2.14"

[dev-packages]

[requires]
python_version = "3.10"
